<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'">
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta name="referrer" content="strict-origin">
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "name": "{{head.title}}",
          "url": "{{head.url}}",
          "logo": "{{head.url}}{{head.logo}}",
          "description": "{{head.description}}"
        }
        </script>
    <title>LinkMeUp WieErWill</title>
    <meta name="description" content="{{head.description}}">
    <meta name="keywords" content="{{head.keywords}}">
    <meta name="theme-color" content="{{head.themecolor}}">
    <link rel="canonical" href="{{head.url}}">
    <meta property="og:title" content="{{head.title}}">
    <meta property="og:description" content="{{head.description}}">
    <meta property="og:image" content="{{head.url}}{{head.logo}}">
    <link rel="manifest" href="/manifest.json">
</head>