<div class="link-grid">
    {{#each socialLinks}}
    <div class="link" style="background-color: {{backgroundColor}}; color: {{textColor}}">
        <a href="{{url}}" target="_blank">
            {{#if icon}}
            <img src="/images/{{icon}}" alt="{{name}} icon" class="link-icon">
            {{/if}}
            <h2>{{name}}</h2>
        </a>
    </div>
    {{/each}}
</div>